@import forms.BookingForms

@(a: Appointment with sorm.Persisted)(implicit assetsFinder: AssetsFinder)

@layout("Thank you for your booking !", assetsFinder) {

<p>Here is a summary of your appointment : </p>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date and time</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDate</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Remarks</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@a.id</td>
            <td>@a.timeSlot.start.toString("E dd-MM-yyyy HH:mm")</td>
            <td>@AppointmentType.typeLabels(a.tpe)</td>
            <td>@a.patient.firstName @a.patient.lastName</td>
            <td>@a.patient.birthDate.toString(utils.JodaDateUtils.BIRTHDATE_PATTERN)</td>
            <td>@a.patient.phoneNumber</td>
            <td>@a.patient.email</td>
            <td>@a.description.getOrElse("-")</td>
        </tr>
    </tbody>
</table>

<a href="@routes.BookingController.listAppointments" class="btn">Your other appointments</a>
<a href="@routes.HomeController.index" class="btn btn-primary">Go to home page</a>

}